.bodyBackground{
    background-image: url("../sources/images/BlackBackground.jpg");
    background-size: 150%;
}

.add{
    float: right;
}
.imgLogo{
    width: 3rem;
    margin-left: 2%;
    margin-right: 1.5%;
}
.imgProfile{
    width: 4rem;  
}
.dropwdownMargin{
    margin-right: 5%;
}